<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hero-container</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/heroContainer.css">
</head>
<body>
    <div class="hero-container">
        <div class="swiper mySwiper mySwiper-heroSection">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="hero-img heroImg1">
                        <h1 class="titel">Heritagehub</h1>
                        <p class="subTitel">Best Collection Of Indian Heritage Art And Culture</p>
                        <a class="hero-container-btn" href="#topSelling">Shop Now</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero-img heroImg2">
                        <h1 class="titel">Heritagehub</h1>
                        <p class="subTitel">See Best Collection Of Artworks Form Your State</p>
                        <a class="hero-container-btn" href="#stateContainer">View</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero-img heroImg3">
                        <h1 class="titel">Heritagehub</h1>
                        <p class="subTitel">Support Local Artists To Continue The Tradition</p>
                        <a class="hero-container-btn" href="#newArrivel">Buy Item</a>
                    </div>
                </div>


            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/SCRIPT/heroContainer.js"></script>

</body>
</html>