<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/mainNavbar.css">
    <title>mainNavbar</title>
</head>

<body>

    <nav>
        <div class="logo" id="navlogo">heritagehub</div>
        <ul id="navLinksList">
            <li class="list"><a href="#" id="navLinkHome" class="active navLink">Home</a></li>
            <li class="list"><a href="#" id="navLinkLogin" class="navLink">Login</a></li>
            <li class="list"><a href="#" id="navLinkBecomeSeller" class="navLink">Become Seller</a></li>
            <li class="list"><a href="#" id="navLinkCart" class="navLink">Cart <i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
        <form action="#">
            <div class="searchBar">
                <input id="navSearchBarInput" type="text" placeholder="Search your product">
                <button id="navSearchBarButton"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
    </nav>

</body>

</html>