<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>heritagehub - find and sale your heritage art</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/productCart.css">
</head>

<body>
    
    <div class="product-container">
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/picture2.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/picture.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-2/indian-crafts.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-3/Wall-Art1.webp');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-4/earing1.webp');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/picture.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-2/indian-crafts.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-3/Wall-Art1.webp');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/picture2.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-4/earing1.webp');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-2/indian-crafts.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-3/Wall-Art1.webp');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/picture2.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/picture.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-4/earing1.webp');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-3/Wall-Art1.webp');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/picture2.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/picture.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-2/indian-crafts.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-4/earing1.webp');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/picture2.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/picture.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-2/indian-crafts.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-3/Wall-Art1.webp');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-4/earing1.webp');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/picture.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-2/indian-crafts.jpg');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
        <div class="productCard">
            <div class="pro-img" style="background-image: url('/IMAGE/product-3/Wall-Art1.webp');"></div>
            <p class="catgoryName">Category Names</p>
            <h2 class="productName">Product Title Name</h2>
            <p class="sallerName">Saller name</p>
            <p class="productDiscription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                similique itaque molestiae dolorum? Accusamus vel maiores amet sapiente, repudiandae eligendi.</p>
            <div class="cardOptions">
                <p class="price">Rs 300/-</p>
                <div class="cardDiv">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-heart heart"></i>
                    <div class="rating">4 <i class="fa-solid fa-star star"></i></div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>