<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/stateSlider.css">
</head>

<body>
    <div class="img-container stateContainer">
        <div class="swiper mySwiper mySwiper-stageContainer">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/andraPradesh.jpeg" alt="">
                            <h2 class="stateTitel">AndraPradesh</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/arunachaPradesh.jpg" alt="">
                            <h2 class="stateTitel">ArunachaPradesh</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/assam.jpg" alt="">
                            <h2 class="stateTitel">Assam</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/bihar.jpg" alt="">
                            <h2 class="stateTitel">Bihar</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/chhattisgarh.jpg" alt="">
                            <h2 class="stateTitel">Chhattisgarh</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/delhi.jpg" alt="">
                            <h2 class="stateTitel">Delhi</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/goa.jpg" alt="">
                            <h2 class="stateTitel">Goa</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/gujarat.jpg" alt="">
                            <h2 class="stateTitel">Gujarat</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/haryana.jpg" alt="">
                            <h2 class="stateTitel">Haryana</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/himachalPradesh.jpg" alt="">
                            <h2 class="stateTitel">HimachalPradesh</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/jammuKashmir.jpg" alt="">
                            <h2 class="stateTitel">JammuKashmir</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/jharkhand.jfif" alt="">
                            <h2 class="stateTitel">Jharkhand</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/karala.jpg" alt="">
                            <h2 class="stateTitel">Karala</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/karnataka.jpg" alt="">
                            <h2 class="stateTitel">Karnataka</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/MadhayPradesh.jpg" alt="">
                            <h2 class="stateTitel">Madhay Pradesh</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/Maharashtra.jpg" alt="">
                            <h2 class="stateTitel">Maharashtra</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/manipur.jpg" alt="">
                            <h2 class="stateTitel">Manipur</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/meghalaya.jfif" alt="">
                            <h2 class="stateTitel">Meghalaya</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/mizoram.jpg" alt="">
                            <h2 class="stateTitel">Mizoram</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/nagaland.jpg" alt="">
                            <h2 class="stateTitel">Nagaland</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/odisha.jpg" alt="">
                            <h2 class="stateTitel">Odisha</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/punjab.jpg" alt="">
                            <h2 class="stateTitel">Punjab</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/rajasthan.jpg" alt="">
                            <h2 class="stateTitel">Rajasthan</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/sikkim.jpg" alt="">
                            <h2 class="stateTitel">Sikkim</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/tamilNadu.png" alt="">
                            <h2 class="stateTitel">TamilNadu</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/telangana.jpg" alt="">
                            <h2 class="stateTitel">Telangana</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/tripura.jfif" alt="">
                            <h2 class="stateTitel">Tripura</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/uttaraKhand.jpg" alt="">
                            <h2 class="stateTitel">UttaraKhand</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/uttarPradesh.jpg" alt="">
                            <h2 class="stateTitel">UttarPradesh</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperSlideDiv">
                        <div class="img-box">
                            <img class="stateImage" src="/IMAGE/westBengal.jpg" alt="">
                            <h2 class="stateTitel">WestBengal</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
















    <!-- ------------- Swiper.js CDN --------------- -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/SCRIPT/stateSlider.js"></script>


</body>

</html>